body {
  background: #f6f5f7;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  height: 87px;
  padding: 0px 35px;
}

.splash-container {
  width: 100%;
}

.splash-img {
  width: 100%;
  position: relative;
  top: 0;
  display: block;
  filter: brightness(77%);
}

.login-btn,
.signup-btn {
  display: flex;
  border: 2px solid white;
  color: white;
  border-radius: 22px;
  width: 127px;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 17px;
  height: 39px;
  align-items: center;
}

.login-btn:hover {
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  color: gray;
  font-family: "Montserrat Alternates", sans-serif;
}

.signup-btn:hover {
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  color: gray;
  font-family: "Montserrat Alternates", sans-serif;
}

.logo {
  font-family: "Bubblegum Sans", cursive;
  font-size: 45px;
  color: white;
}

.session-selection {
  display: flex;
  width: 28%;
  justify-content: space-evenly;
}

footer {
  position: fixed;
  bottom: 0px;
  right: 10px;
}

.motto {
  position: absolute;
  top: 151px;
  width: 38%;
  right: 4vh;
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 38px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

// .name {
//   justify-content: center;
// }

.icon-container {
  display: flex;
  flex-direction: row;
  // justify-content: space-evenly;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
}
