.calendar-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 35px;
}

.student-scheduled {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: orange;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

.student-nav {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.lessons-list {
  position: relative;
  list-style-type: none;
  margin-top: 14px;
}

.pending-lessons {
  margin-top: 7px;
}

.link-l {
  display: flex;
  border: 2px solid #3174ad;
  color: white;
  border-radius: 5px;
  width: 121px;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14px;
  height: 33px;
  align-items: center;
  background-color: #3174ad;
  margin-bottom: 8px;
}