.teacher-index-container {
  background: #f6f5f7;
  position: relative;
}

// .navbar {
//   text-align: left;
//   // display: flex;
// 	// // justify-content: space-between;
// 	// align-items: center;
// 	// position: absolute;
// 	z-index: 1;
//   width: 100%;
//   top: 0;
//   height: 87px;
//   padding: 0px 35px;
// }

.index-navbar {
  right: 15px;
  position: absolute;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.logout-btn,
.dash-btn {
  display: flex;
  border: 2px solid white;
  color: white;
  border-radius: 22px;
  width: 127px;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 17px;
  height: 39px;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
}

.logout-btn:hover,
.dash-btn:hover {
  background-color: white;
  transition: 0.3s;
  cursor: pointer;
  color: gray;
  font-family: "Montserrat Alternates", sans-serif;
}

.index-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgb(247, 238, 113),
    #ff4b2b
  );
  position: relative;
  left: 0;
  padding: 15px;
}

.index-title {
  font-size: 50px;
  font-family: "Montserrat Alternates";
  color: #ff4b2b;
}

.index-header-image {
  width: 500px;
  height: 300px;
}

.mission {
  color: white;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
}

.teacher-index-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.teacher-list {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 5px;
  padding: 10px;
  list-style-type: none;
}

.teacher-list > li {
  text-align: left;
}

.reviews-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.show-info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.each-review-info {
  display: flex;
}

.teacher-review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
