.video {
  width: 100px;
  height: 100px;
}

.worksheet {
  width: 700px;
  height: 700px;
}

.flashcard {
  width: 180px;
  height: 180px;
  margin: 10px;
}

.lessons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard-container {
  display: flex;
  flex-wrap: wrap;
}

.lesson-title {
  font-size: 50px;
}

.lesson-title-main {
  font-size: 80px;
}