.teacher-calendar {
  width: 1000px;
  margin: 40px;
}

.scheduled-outer {
  display: flex;
  justify-content: center;
}

.scheduled {
  //   color: #ff4b2b;
  color: black;
  font-family: "Montserrat Alternates";
  font-size: 25px;
  position: relative;
  left: 33px;
  top: 100px;
}

.teacher-calendar {
  display: flex;
}

.event-form {
  display: flex;
  justify-content: center;
  font-family: "Comic Neue", cursive;
}

.App,
.user-dashname {
  font-family: "Comic Neue", cursive;
  display: flex;
  justify-content: center;
}

.user-dashname {
  margin-top: 60px;
}

.review-form-container {
    display: flex;
    justify-content: center;
}

.review-container {
  margin: 40px;
  border-radius: 20px;
  box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.25),
    5px 5px 10px 4px rgba(0, 0, 0, 0.22);
  padding: 35px;
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
}

// list-style-type: none;

// .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//     height: 0px;
// }

// .App-header {
//     background-color: #222;
//     height: 150px;
//     padding: 20px;
//     color: white;
// }

// .App-title {
//     font-size: 1.5em;
// }

// .App-intro {
//     font-size: large;
// }

// @keyframes App-logo-spin {
//     from {
//         transform: rotate(0deg);
//     }

<<<<<<< HEAD
    to {
        transform: rotate(90deg);
    }
}
=======
//     to {
//         transform: rotate(360deg);
//     }
// }
>>>>>>> de3ab108bfee8221d6d8bd731d5ff9361a6f988a
