.teacher-calendar {
  width: 1000px;
  margin: 40px;
}

.scheduled-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scheduled {
  color: orange;
  font-family: "Montserrat Alternates";
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid #666666;
  border-top: 1px solid #666666;
  margin-top: 50px;
}

.teacher-calendar {
  display: flex;
}

.event-form {
  display: flex;
  justify-content: center;
  font-family: "Comic Neue", cursive;
}

.App,
.user-dashname {
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: center;
  font-weight: 300;
}

.user-dashname {
  color: orange;
  border-bottom: 1px solid #666666;
  border-top: 1px solid #666666;
  margin-top: 60px;
  font-weight: 400;
}

.review-form-container {
    display: flex;
    justify-content: center;
}

.review-container {
  margin: 40px;
  border-radius: 20px;
  box-shadow: 0px 14px 10px rgba(0, 0, 0, 0.25),
    5px 5px 10px 4px rgba(0, 0, 0, 0.22);
  padding: 35px;
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: white;
}

